.container {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    width: 901px;
    margin: 0 auto;
    color: #626262;
}

.menu {
    text-transform: uppercase;
    line-height: 24px;
}

ul {
    text-align: center;
}

.menu__link {
    text-decoration: none;
}

.menu__link:hover {
    color: #03a9f4;
}

.menu__item {
    display: inline-block;
    color: #626262;
    padding: 30px;
}

main {
    font-size: 0px;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin-top: 90px;
    margin-left: 30px;
    width: 420px;
    font-size: 16px;
}

figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figcaption {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
}

p {
    line-height: 24px;
}

.button-wrapper div {
    display: block;
}

button {
    display: block;
    margin: auto;
    margin-top: 50px;
    background: none;
    height: 60px;
    width: 165px;
    font-size: 20px;
    border: 1px solid #626262;

}